.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

mat-form-field {
  margin-right: 16px;
  margin-top: 16px;
}

.button-action {
  margin-right: 16px;
  margin-top: 20px;
}
